#friends-nav {
  width: 20%;
  height: 100%;
  color: white;
  overflow: hidden;
}

#friends-content {
  width: 80%;
  height: 100%;
  color: white;
  overflow-y: scroll;
}

#friends-nav-list a div:hover {
  color: white;
  background-color: #00b3ff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  background-size: 0.3125rem 0.3125rem;
}

#friends-nav-list a.active div {
  color: white;
  background-color: #00b3ff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  background-size: 0.3125rem 0.3125rem;
}

.css-1l4gr1b,
.css-1ox1sq8,
.css-1knytth {
  --card-bg: transparent !important;
}

.t-scale:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #00b3ff);
}

#breadcrumb {
  visibility: hidden;
}

/*   <--- Responsive    --->   */

@media only screen and (max-width: 992px) {
  #friends-nav div,
  #friends-nav p {
    font-size: medium;
  }
}

@media only screen and (max-width: 700px) {
  #friends-nav {
    visibility: hidden;
    width: 0;
    left: 0;
  }
}
